body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #020617;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #38bdf8;
}

.subtitle {
    text-align: center;
    color: #94a3b8;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #38bdf8;
    color: #020617;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: lightcoral;
}

#result {
    margin-top: 25px;
}

.hidden {
    display: none;
}

#status {
    font-size: 22px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 7px;
}